**/.DS_Store
**/.vscode/

node_modules/

backend/.env
backend/dist/
backend/data/
backend/gen_fake_data

esp/build/
esp/.cache/
esp/.env
esp/env*.h
!esp/envexample.h
esp/sdkconfig.old

web/src/dist
web/.env
